{
	"comments": false,
	"plugins": [
		"source-map-support",
		"@babel/plugin-proposal-class-properties",
		"@babel/plugin-proposal-throw-expressions"
	],
	"presets": [
		[
			"@babel/preset-env",
			{
				"targets": {
					"node": "4"
				}
			}
		]
	]
}